<ng-container *ngIf="!!liturgicalDay">
  <h1>{{liturgicalDay.CalendarDateLong | titlecase}}</h1>
  <p>{{liturgicalDay.FastDesignation | titlecase}}</p>
  <img src={{liturgicalDay.DailyIcon}}/>

  <h3>{{liturgicalDay.FeastDayTitle | titlecase}}</h3>
  <p>{{liturgicalDay.FeastDayDescription}}</p>

  <h3>{{liturgicalDay.Reading1Title | titlecase}}</h3>
  <p>{{liturgicalDay.Reading1FullText}}</p>

  <h3>{{liturgicalDay.Reading2Title | titlecase}}</h3>
  <p>{{liturgicalDay.Reading2FullText}}</p>

  <h3>{{liturgicalDay.Reading3Title | titlecase}}</h3>
  <p>{{liturgicalDay.Reading3FullText}}</p>
</ng-container>

